<mat-toolbar style="display: flex;justify-content: space-between;" *ngIf="sidenav.mode === 'over'" class="mat-elevation-z8">
    
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        <h4 class="name">Santa Inc.</h4>
   
</mat-toolbar>
 <mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div *ngIf="!deviceXs">
            <img class="avatar mat-elevation-z8" src="assets/santa.PNG" />
        </div>
        <div *ngIf="!deviceXs">
            <h4 class="name">Santa Inc.</h4>
        </div>
        <a routerLink="/toys">
            <button mat-button class="menu-button">
            <mat-icon>videogame_asset</mat-icon>
            <span>Toys Factory</span>
        </button>
        </a>
        <a routerLink="/deliverylist">
        <button mat-button class="menu-button" (click)="routeToDeliveryList()">
            <mat-icon>motorcycle</mat-icon>
            <span>Delivery</span>
        </button>
        </a>
        <a routerLink="/legal">
        <button mat-button class="menu-button">
            <mat-icon>check</mat-icon>
            <span>Legal</span>
        </button>
        </a>
        <a routerLink="/disconnect">
        <button mat-button class="menu-button">
            <mat-icon>power_settings_new</mat-icon>
            <span>Disconnect</span>
        </button>
        </a>

     
     <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

</mat-sidenav>
     <mat-sidenav-content>
 <!--style="display: flex;justify-content: space-between;"-->
         <div class="content mat-elevation-z8">           
            <router-outlet></router-outlet>             
         </div>
         <!-- <div *ngIf="!deviceXs">
            <img class="sidetree mat-elevation-z8" src="assets/chekk_tree.PNG" />
        </div> -->
     </mat-sidenav-content>
 </mat-sidenav-container>
 